body { background: #175b16; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-shipping-0 { color: #171c66; font-size: 14px; margin-bottom: 5px; }
.block-uploader-1 { color: #cae5ab; font-size: 15px; margin-bottom: 5px; }
.block-notify-2 { color: #9ecfa1; font-size: 19px; margin-bottom: 5px; }
.block-session-3 { color: #74129d; font-size: 13px; margin-bottom: 5px; }
.block-cache-4 { color: #66c667; font-size: 20px; margin-bottom: 5px; }
.block-shipping-5 { color: #4b4265; font-size: 17px; margin-bottom: 5px; }